# Visual Studio
.vs/
*.user
*.suo

# .NET build
**/bin/
**/obj/
**/out/

# Ignore x86 deployment output
**/publish-x86/

# Frontend
**/node_modules/
**/dist/

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log

# ZIP files
*.zip

# Database backups/dumps
*.sql

**/publish/
**/publish-x86/